* {
  box-sizing: border-box;
}

.calculator {
  margin: 30px auto;
  display: grid;
  width: 370px;
  background-color: #272e2e;
  grid-template-columns: 75px 75px 75px 75px;
  grid-template-rows: 140px 75px 75px 75px 75px;
  column-gap: 10px;
  row-gap: 10px;
  padding: 20px;
  border-radius: 5px;
}

#button-equal {
  background-color: #ab3737;
}

#button-equal:hover {
  background-color: #cf4040;
}

.operations {
  background-color: #0e6665;
}

.operations:hover {
  background-color: #478f8f;
}

header {
  text-align: center;
}

header > h1 {
  font-family: 'Asap', sans-serif;
  font-size: 50px;
}

.display {
  display: flex;
  height: 100%;
  padding: 20px;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: rgb(240, 240, 240);
  border: 2px solid rgb(190, 190, 190);
  flex-direction: column;
  justify-content: center;
  word-wrap: break-word;
  border: 0;
}

.display span {
  text-align: right;
}

.op {
  font-size: 30px;
}

.result {
  font-size: 35px;
  font-weight: bold;
}

button {
  font-size: 30px;
  border: 0;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(170, 170, 170);
}
